{% extends 'header.html' %}
{% load static %}

{% load custom_filters %}
{% block title %}
  About | Page              
{% endblock title %}


{% block content %}

  <div class="about">

    <div class="img-wrapper">
        <img width="200px" height="200px" src="https://play-lh.googleusercontent.com/NpalqDPJN_3W-KAOM3-vwahc2krTuDdCgZpWtzCtqa8v1CaUtODlb10W8TLmyYeEAgQ" />

    </div>
    
    <div class="about-detail">
        <h1 id="about-header">About Us</h1>
        <p class="desc">This is the platform we provide digital product to the user at
            affordable price.You can pay digitally and we regularly provide the 
            offer to our customer.Soon offline store are opened in different region 
        of india.Happy shoppping enjoy our shoping platform.</p>
    </div>

    
  </div>

  
{% endblock content %}

  
    

    